@CHARSET "UTF-8";

body {font-size:95%;color:#fff;background:#2D3034;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

input[type="text"], input[type="password"], input.text, input.title, textarea, select 
{

	width: 200px;
	font-size: 95%;
	padding: 7px;
}

